body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


h1, h2, h3 {
    color: #2c3e50;
}

h1 {
    margin-bottom: 0;
}

main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#perfil {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#perfil figure {
    margin-right: 20px;
}

#perfil img {
    border-radius: 50%;
    border: 3px solid #3498db;
}

#perfil figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

li:before {
    content: "•";
    color: #3498db;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

article {
    margin-bottom: 20px;
}

time {
    color: #7f8c8d;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #7f8c8d;
}

@media (max-width: 600px) {
    #perfil {
        flex-direction: column;
        text-align: center;
    }

    #perfil figure {
        margin-right: 0;
        margin-bottom: 20px;
    }
}